.chordsLyrics{
    margin-top: 1em;
    font-family: Roboto;
    line-height: 2;
    white-space: pre-line;
}

.lyrics{
    font-family: Roboto;
    white-space: pre-line;
}


.chords{
    color: red;
    position: relative;
    bottom: 1em;
    width: 2em;
    margin-right: -0.9em;
}